<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>ChromaBannerCell</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.chewitt.chromaprefs</string>
			<key>PostNotification</key>
			<string>me.chewitt.chromaprefs.settingschanged</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>ChromaLinkToColourPickerCell</string>
			<key>default</key>
			<string>#FF007AFF</string>
			<key>label</key>
			<string>Dark Tint Colour</string>
			<key>key</key>
			<string>Colour</string>
			<key>id</key>
			<string>DarkTint</string>
			<key>detail</key>
			<string>ChromaColourPickerController</string>
			<key>defaults</key>
			<string>me.chewitt.chromaprefs</string>
			<key>PostNotification</key>
			<string>me.chewitt.chromaprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>ChromaLinkToColourPickerCell</string>
			<key>default</key>
			<string>#ffffff</string>
			<key>label</key>
			<string>Light Tint Colour</string>
			<key>key</key>
			<string>LightColour</string>
			<key>id</key>
			<string>LightTint</string>
			<key>detail</key>
			<string>ChromaColourPickerController</string>
			<key>defaults</key>
			<string>me.chewitt.chromaprefs</string>
			<key>PostNotification</key>
			<string>me.chewitt.chromaprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Excluded Apps</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/me.chewitt.chromaprefs.excluded.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALChangeNotification</key>
			<string>me.chewitt.chromaprefs.settingschanged</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Restart apps for changes to properly apply.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>action</key>
			<string>goToTinct</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Upgrade to Tinct</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ChromaPrefs.bundle/pro.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openDonateLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ChromaPrefs.bundle/paypal.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openEmailLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ChromaPrefs.bundle/mail.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitterLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Twitter</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ChromaPrefs.bundle/twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Info</string>
			<key>detail</key>
			<string>ChromaInfoController</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/ChromaPrefs.bundle/info.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Chroma $ © Charlie Hewitt 2014</string>
			<key>id</key>
			<string>copyright</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>title</key>
	<string>Chroma</string>
</dict>
</plist>
